<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Righteous|Roboto" rel="stylesheet">	
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Eat The Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burger_events.js"></script>
	<script src=""></script>
</head>

<body  id="grad1">
	<div class="container">
				{{{ body }}}
		</div>
	</div>
</body>

</html>